# .ebextensions/app.config
files:
  "/sbin/appstart":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/usr/bin/env bash
      JAR_PATH=/var/app/current/application.jar
      java -Dspring.profiles.active=prod -Dfile.encoding=UTF-8 -jar ${JAR_PATH}

  "/etc/nginx/conf.d/custom_nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      http {
          types_hash_max_size 4096;
          types_hash_bucket_size 128;
      }

container_commands:
  01_restart_nginx:
    command: "service nginx restart"
